/* Generelle stilarter */
body {
    font-family: Arial, sans-serif;
}

/* Stilarter for indkøbsvogn-ikonet */
.shopping-cart {
    position: fixed;
    top: 10px;
    right: 10px;
}

.cart-icon {
    cursor: pointer;
    font-size: 24px;
}

.cart-count {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    vertical-align: top;
    margin-left: 4px;
}



.cart-popup {
    display: none;
    position: fixed;
    right: 0;
    top: 50px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 450px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 20px;
}

.cart-content {
    text-align: left;
    overflow-y: auto;
}

.close-btn {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 576px) {

    /* Small screens */
    .shopping-cart {
        top: auto;
        bottom: 10px;
        right: 50%;
        transform: translateX(50%);
    }


}

@media (min-width: 577px) and (max-width: 992px) {

    /* Medium screens */
    .shopping-cart {
        top: 10px;
        right: 10px;
    }
}




.dataTables_wrapper {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(224, 2, 2, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.dataTable {
    width: 100%;
    box-sizing: border-box;
}